.basic-check-info-list {
  margin-top: 10px;
}

.basic-check-info-list li {
  margin-bottom: 5px;
}

.check-id, .check-table-id, .check-status {
  display: flex;
  justify-content: center;
}

.close-check-button-show{
  margin: 0 auto;
  color: red;
}

.close-check-button-show:hover {
  color: green;
}

.add-item-button {
  border: 1px solid #686970;
  padding: 2px;
}

.add-item-button:hover {
  background-color: #8292F7;
  color: #DADDF5;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.item-container {
}

.ordered-items-list {
  display: table;
  width: 100%;
  border-spacing:.5em;
  border-bottom: 1px solid black;
}

.item-information li {
  padding:1em;
  width:24%;
  display:table-cell;
}

/* #empty {
  display: none;
} */

.void-item-button:hover {
  color: red;
}

.closed-check-details {
  margin-left: 50px;
  color: red;
}

.closed-check-details li{
  padding: 10px;
}
