.check-index-container {
  margin-top: 33px;
}

.check-index-header {
  font-size: 40px;
  color: #424FA8;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.create-check {
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 20px;
  color: #424FA8;
  border-bottom: 2px solid #424FA8;
}

.create-check:hover {
  color: #DADDF5;
  border-bottom: 2px solid #DADDF5;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.check-list {
  height: 500px;
  width: 600px;
  overflow-y: scroll;
  background-color: #DADDF5;
}

.check-index-item {
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 50px;
  border: 1px solid #686970;
  align-items: center;
  background-color: #DADDF5;
  color: #424FA8;
  padding: 2px;
}

.first-line {
  padding-bottom: 2px;
}

.check-index-item:hover {
  background-color: #8292F7;
  color: #DADDF5;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  transform: scale(1.05) perspective(1px);
  z-index: 1;
}

.close-check-button {
  border: 1px solid #686970;
  padding: 2px;
  color: #BF0C0C;
}

.item-modal-button {
  color: #8292F7;
  background-color: #DADDF5;
}

.item-modal-button:hover {
  color:#DADDF5;
  background-color: #8292F7;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.close-check-button:hover {
  color: black;
  background-color: #BF0C0C;
  border: 1px solid #686970;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.index-show-container {
  display: flex;
  justify-content: center;
}

.check-index-item-show {
  margin-left:8px;
  border: 1px solid #686970;
  height: 500px;
  width: 600px;
  background-color: #DADDF5;
  overflow-y: scroll;
}

.empty-check-list-note {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  color: #424FA8;
  font-size: 23px;
}
