.check-index-header {
  font-size: 40px;
  color: red;
  display: flex;
  justify-content: center;
}

.check-list {
  height: 500px;
}

.check-index-item {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 50px;
  border: 1px solid black;
  align-items: center;
}

.close-check-button {
  border: 1px solid black;
}

.close-check-button:hover {
  color: blue;
}

.index-show-container {
  display: flex;
  justify-content: center;
}

.holder-for-show {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.check-index-item-show {
  height: 500px;
  width: 500px;
}
