.error-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black */
}

.error-modal-header {
  background-color: #F54343;
  color: #DADDF5;
}

.error-list {
  height: 200px;
  align-items: center;
  text-transform: capitalize;
  color:#F54343;
  background-color: #DADDF5;
}

.error-list-item {
  font-size: 20px;
}

.exit-button-container-errors {
  background-color: #F54343;
}

.error-modal-button {
  background-color: #DADDF5;
  color: #F54343;
}

.error-modal-button:hover {
  background-color: #F54343;
  color: #DADDF5;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
