.footer-container {
  height: 150px;
  background: linear-gradient(to right, #e3d5cb, #ad6230);
  margin-top: 50px;
  color: #daddf5;
}

.footer-name {
  font-size: 25px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.link-list {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.border {
  width: 55%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e3d5cb;
}

.link-fa {
  font-size: 40px;
  color: #daddf5;
  padding-right: 15px;
}

.link-fa:hover {
  cursor: pointer;
  color: #424fa8;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
