.item-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black */
}

.modal-list-header {
  background-color: #8292F7;
  align-items: center;
  font-size: 30px;
  color: #DADDF5;
}

.item-modal-list {
  background-color: #DADDF5;
}

.item-index-item {
  align-self: center;
  border: 1px solid black;
  margin:5px;
  padding: 4px;
}

.item-index-item:hover {
  cursor: pointer;
  background-color: #8292F7;
  color: #DADDF5;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
