.nav-header {
  display: flex;
  justify-content: center;
  color: #8292f7;
  font-size: 80px;
  line-height: 18px;
  height: 128px;
  align-items: center;
  margin-top: 25px;
}

.nav-button {
  margin: 0 auto;
  border: 1px solid #686970;
  padding: 12px;
  color: #424fa8;
}

.nav-button:hover {
  background-color: #8292f7;
  color: #daddf5;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
